html,
body {
    color: #000;
    background-color: #D8D8D8;
    line-height: 1.5;
    font-family: sans-serif;
    min-width: 290px;
    position: relative;
}

body a {
    text-decoration: none;
    list-style-type: none;
}

header h2 {
    color: #000;
    font-size: 2em;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 400;
}

#navbar {
    position: fixed;
    min-width: 290px;
    width: 320px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#navbar li {
    color: #4d4e53;
    border: 1.5px solid #fff;
    border-bottom-width: thin;
    padding: 10px;
    padding-left: 45px;
    position: relative;
    left: -50px;
    width: 100%;
}

#navbar ul {
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar a {
    color: #000;
}

#navbar a:hover {
    color: #fff;
    font-weight: bold;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 100px;
}

section article {
    color: #000;
    margin: 12px;
    font-size: 1em;
}

section li {
    margin: 20px 0px 20px;
    list-style-type: none;
}

code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    padding: 15px;
    margin: 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 250px;
    }
}


@media only screen and (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 270px;
    }

    #navbar {
        background-color: #fff;
        position: absolute;
        top: 0;
        padding: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}
